[submodule ".emacs.d/haskell/hindent"]
	path = .emacs.d/haskell/hindent
	url = git@github.com:chrisdone/hindent.git
[submodule ".emacs.d/haskell/haskell-mode"]
	path = .emacs.d/haskell/haskell-mode
	url = git@github.com:bitemyapp/haskell-mode.git
