[submodule ".emacs.d/haskell/hindent"]
	path = .emacs.d/haskell/hindent
	url = https://github.com/chrisdone/hindent
[submodule ".emacs.d/haskell/haskell-mode"]
	path = .emacs.d/haskell/haskell-mode
	url = https://github.com/haskell/haskell-mode
