*.pyc
*.pyo
*.exe
*.dll
.installed.cfg
develop-eggs
dist
downloads
eggs
parts
.ssh
Downloads
Dropbox
.ICEauthority
.adobe/
.bash_logout
.bashrc
.cache/
.config/
.dbus/
.dmrc
.dropbox-dist/
.dropbox/
.esd_auth
.fontconfig/
.gconf/
.gconfd/
.gksu.lock
.gnome2/
.gtk-bookmarks
.local/
.macromedia/
.mozilla/
.pki/
.profile
.pulse-cookie
.pulse/
.recently-used.xbel
.ssh/
.sudo_as_admin_successful
.thumbnails/
.compiz
.bash_history
.ido.last
.gstreamer-0.10/
.jhistory
.zcompdump
j701-user/
.ipython*
.nvidia-settings-rc
.gnupg/
*.dat
*auto-save-list/
.viminfo
.emacs.d/tramp
.quicksynergy
.synergy*
.emacs.d/session*
.subversion
.purple
.remmina
.vnc
data
svnsrc
ws
Pictures/
.pip*
.ropeproject
activate
active
*.cfg
log/
.test*
664
chmod
.htaccess
.#test_event*
.vboxclient*
.Heroes*
.Skype*
.Xauthority
.conky*
.emacs~
.eshell
.evolution
.fce*
.feh*
.feh*
Music/
Documents/
Videos/
Saves/
games/
journal/
lc/
octave-core
opt/
.fgfs
.gens
.gimp*
.gtk*
.gnome*
.irb*
.iced*
.irssi
.lincity*
.link*
.naev
.netx
.octave*
.quake*
.redcar
.speech*
.warsow*
.wine*
.zsnes
Calibre*
.gelide
.htop*
.PyCharm*
.bluetil*
.eric4*
.gitk*
.hplip
.java
.less*
.libreoff*
.moc//
.mysql_history
.odbc.ini
.printer*
.redebug*
.rpdb2*
Aptana*
Mumble*
aptana/
do_tags
firefox/
starwars.wtf
.appdata/
Ubuntu\ One/
HoN
.slime*
*.elc
.lein/
.m2
.dmenu_cache
.ratpoison_history
.sqlite_history
*.o
*.hi
*.errors
.mission-control/
.moc/
dotfiles/
.xmonad/xmonad-i386-linux
.compiz*/
bitemyapp/
.pentadactyl/
.xsession-errors
env/
.crawl/
.dbshell
.elinks/
.emacs.d/swank/
.weechat/
.rvm/
.npm/
.gem/
.ghc/
.dbshell/
.dotcloud/
.gnus
.gvimrc
.cabal/
.cups/
.authinfo
.mongo_log
.dbshell
.DS_Store
.CFUserTextEncoding
.newsrc-dribble
.python-eggs/
.pygr_data*
.scala_history
.sh_history
Applications/
Desktop/
Emu/
Library/
Movies/
Public/
Eclipse/
bin/eclipse
bin/lein
.Trash/
.pentadactyl/
.rvmrc
.mplayer/
.serverauth*
.virtualenvs/
.emacs.d/semanticdb/
.emacs.d/url/
iMacros/
.elinks/
.mutt/
.byobu/
emu/
.java.policy
.java_history
.jline-clojure.main.history
.kde/
.regetronhist
.scummvm/
.scummvmrc
.surf/
.thunderbird/
.w3m/
.wesnoth1.8/
.dgen/
.gvba/
.lostirc/
.neverball/
.numptyphysics/
.xchat2/
.xmonad/xmonad-x86_64-linux
.rediscli_history
.bundler/
.cola
.rnd
.gegl-0.0/
.eclipse/
.vim-fuf-data/
.FBReader/
.stardict/
.anki/
.bash_it/
.bash_profile.bak
.dirs
.jekyllconfig
.leksah
.wingide4/
.xsession-errors.old
.vim/bundle/*
dump/
.xxxterm/
.goutputstream*
News/
.Rprofile
.lighttable/
.mtpaint
.pyxbld/
.racket/
.viminfo*
.wily*
build/
*.rdb
node_modules/
.calc_history
.ivy2/
.sbt/
.ec2.sh
.vim/backups/
.vim/swaps/
.vim/undo/
.conscript/
elpa
.jline*
.nrepl*
repl*
.ido.last~
.freemind/
.node-gyp/
.terminfo/
.zsh_history
.Xmodmap
.go.history
.psql_history
.arcrc
.vimperator/
.face
history
Google\ Drive/
.leksah*
leksah*
.julia_history
.bzr.log
keys.tgz
quicklisp/
stencylworks/
StencylWorks.prefs
pgadmin.log
.jrebel/
.netrc
.pgpass
.recentf
.heroku/
.emacs.d/el-get
.recently-used
.httpie/
.oh-my-zsh/
.zsh-update
.zshrc.pre-oh-my-zsh
.codeintel/
.secrets
.nvm/
.yeoman/
tmp/
.Rhistory
.rstudio*
.drip/
.bower/
.erlang.cookie
.iclojure*
Language/
.i3/
.wmii/
.icons/
.steam/
.steampath
.steampid
.GrooveWalrus/
.adv/
.bitcoin/
.catnip/
.clojure-control/
.composer/
.meteor/
.meteorite/
.minecraft/
LightTable/
rethinkdb_data/
.hosts
.wireshark/
.addressbook
.activator/
.aspell*
.carton/
.ievms/
.pinerc
.pylint*
.yjp/
VirtualBox*
mail/
.snownews/
.cinnamon/
.dillo/
.e/
GoPanda2/
dead.letter
libpeerconnection.log
sec/
vm/
workspace/
.netsurf/
.opera/
.overtone/
.themes/
.tin/
.visualvm/
.nbprofiler/
.cgobanrc
.apport*
.Idea*
idea/
.repljs*
.GoPanda2/
.netbeans/
.repljs_history
Snapshots/
backup/
games/
.earthquake/
.ocamlinit
.opam/
.twidgerc
nrepl-history
.fltk
.claws-mail/
.opera-next/
.dooble/
.ocp/
books
wifi
.emacs.desktop*
emacs-desktop
.asciinema/
.datomic-free/
.dvdcss/
.lord/
.watsonrc
.Xauthority*
.nix-*
.Kega*
.floorc
.install4j
.project_zomb*
.snes9x/
.virtualenv/
Zomboid/
.clojurepyhist
.emacs.d/floobits-emacs/
floobits/
.nv/
.floo
.paradox*/
.pioneer/
R/
.pass
.guard_history
.gnuplot_history
.pypirc
.openvpn-connect.json
.haste/
.ihaskell/
.vagrant.d/
.codex
.zpretzo/
.mongorc.js
work/
.squirrel-sql/
.zlogin
.newsbeuter/
.cmus/
.olliolli/
.screenlayout/
.cask/
.joe_state
.ghcjs/
.mypaint/
.stackage-update/
Work/
.psql_history-*
.ssr/
.work.sh
Fiddler2/
*.retry
nohup.out
*.ogv
.pgcli.log
.pgclirc
.vault*
.compose-cache/
.nixpkgs/
.xinputrc
.idris/
Screenshots/
gPodder/
tor-browser/
locate.db
.jitsi/
.texmf-var/
.LUFTRAUSERS
.android/
.stackage/
/.gitconfig.local
.stack/
.stack-work/
dist-stack/
.gd/
TAGS
.xinitrc
.docker/
.boot2docker/
.nviminfo
.nvimlog
.tracker
.turses/
.babel.json
.mycli*
.emacs.d/network-security.data
.linuxmint/
.atom/compile-cache
.atom/storage
.atom/.apm
.xournal/
.darcs/
.PlayOnLinux/
PlayOnLinux's virtual drives
.ts3client/
.ZAP/
.charles.config
.charles/
.mitmproxy/
.mono/
.v8flags.3.14.5.9.callen.json
.emacs.d/eshell/
GOG\ Games/
.warThunder*
.mysql/
Heroes\ of\ the\ Storm/
StarCraft\ II/
AppData/
Contacts/
Favorites/
Links/
NTUSER.DAT*
OneDrive/
Saved\ Games/
Searches/
ntuser.dat*
ntuser.ini
.offlineimaprc
mail
.mail
.mbsyncrc
.offlineimap/
~/.mutt/passwords
.cargo
.cone
.notmuch-config
.oysttyerkey
.rainbow_config.json
.rainbow_oauth
Inbox
completer.hist
.image.so
Wallpapers/
.forg/
.nylas/
.mu/
.electron/
.v8flags*
Secrets/
Secrets
.xsel.log
.elm/
.spamassassin/
.atom/blob-store/
.TeXmacs/
.oracle_jre_usage/
.vscode/
.ansible_galaxy
.aptitude/
.multirust/
Games/
.utop-history
.doomsday/
GPMDP_STORE/
examples.desktop
.prboom-plus/
.clone-repos.sh
.moonchild\ productions/
.scribus/
.vault_pass.txt
.bin/
.flowblade/
.kinorc
.lives
.lives-dir/
kdenlive/
.terraform.d/
.password-store/
.shout/
.bash_sessions/
Creative\ Cloud*
.homebrew_analytics_user_uuid
.jspm/
.hoogle/
.ghc-mod/
.xmonad/xmonad-x86_64-openbsd
.mailrc
.xsession
.login
.cshrc
.cvsrc
.Xdefaults
.*-secrets*
Backup/
.TelegramDesktop/
.wget-hsts
.emacs.d/haskell/haskell-mode
.emacs.d/haskell/hindent
.bundle/cache
.lci_history
.travis/
nltk_data/
.cpanm/
.exercism.json
.work/
.atom/
.Heaven/
.ZCash*/
.multirust
.rustup/
.python_history
.node_repl_history
snap/
.hpmyroom/
.zcash-params/
.zcash/
FiraxisLive/
.multirust
.rustup/
.yarnrc
.matplotlib/
.node_repl_history
servers/
.slocdata/
anaconda2/
.aws/
.technic/
._.Trashes
.Spotlight*/
.fseventsd/
.php_history
Telegram/
Drivers/
.jackdrc
.lmmsrc.xml
.audacity-data/
Art/
Streams/
.xmonad/xmonad.state
.ppub.conf
.easy-ebook-viewer.conf
.buckaroo/
.quodlibet/
.gradle/
.sdkman/
GNUstep/
Preboot/
Macintosh\ HD
.p2/
.tooling/
.bashrc-anaconda*
.bosh_config
.cert/
.cmake/
.hspec
.yarn/
.zoom/
.zotero/
Updater
Zotero/
.conan/
Podcast/
.aws-env/
.debug/
.kube/
.password-store
.ngrok2/
.pyenv/
.var/
.webex/
.zoomus/
.Xresources
.floorc.json
.helm/
.pencil/
.togglrc
.RData
package-lock.json
.augur/
.git-stats
.kotlinc_history
.pulse_secure/
.rbenv/
.upload.sh
.bazel/
.texlive2017/
.texlive2018/
.texlive2019/
.texlive2020/
Podcasts/
bin/
.xscreensaver
.voltapp/
.go/
.xsessionrc
.vscode-oss/
.brightness/
.grip/
.timezones/
.conda/
.emacs.d/transient/
.kubeadm*
.signature
.sup/
.sylpheed-2.0/
anaconda3/
.tfenv/
.degit/
.jsbeautifyrc
.keras/
.minikube/
.npm-global/
.npmrc
.parsec/
.swt/
.tlaplus/
miniconda3/
.git-credentials
.caliper/
Archival/
personal/
Design/
.pgadmin/
.pgAdmin4.startup.log
.standard-cache/
.nuuid.ini
.wolf4sdl/
.r
powerlevel10k/
.zsh_sessions/
.gitconfig
.fnm/
.hidpi-disable
.pnpm-*/
Google\ Drive
.emacs.d/.lsp*
.emacs.d/straight/
.zsh/
.flow-typed/
.clickhouse-client-history
.redhat/
.krew/
.jdks/
.ddd/
.GlobalProtect/
backups/
.duc.db
.jira.d/
.factorio/
spotify-client/
.discord-rpc/
.uplink/
Android/
AndroidStudioProjects/
.texlive2021/
.proton/
/.env
.brewfile.lock.json
.dotnet/
GP_HTML/
.dream_history
.running_with_rifles/
DigdogStudio/
.battlescribe/
BattleScribe/
Models/
/*.log
monaspace/

