*.pyc
*.pyo
*.exe
*.dll
.installed.cfg
develop-eggs
dist
downloads
eggs
parts
.ssh
Downloads
Dropbox
.ICEauthority
.adobe/
.bash_logout
.bashrc
.cache/
.config/
.dbus/
.dmrc
.dropbox-dist/
.dropbox/
.esd_auth
.fontconfig/
.gconf/
.gconfd/
.gksu.lock
.gnome2/
.gtk-bookmarks
.local/
.macromedia/
.mozilla/
.pki/
.profile
.pulse-cookie
.pulse/
.recently-used.xbel
.ssh/
.sudo_as_admin_successful
.thumbnails/
.compiz
.bash_history
.ido.last
.gstreamer-0.10/
.jhistory
.zcompdump
j701-user/
.ipython*
.nvidia-settings-rc
.gnupg/
*.dat
*auto-save-list/
.viminfo
.emacs.d/tramp
.quicksynergy
.synergy*
.emacs.d/session*
.subversion
.purple
.remmina
.vnc
data
svnsrc
ws
Pictures/
.pip*
.ropeproject
activate
active
*.cfg
log/
.test*
664
chmod
.htaccess
.#test_event*
.vboxclient*
examples*
.Heroes*
.Skype*
.Xauthority
.conky*
.emacs~
.eshell
.evolution
.fce*
.feh*
.feh*
Music/
Documents/
Videos/
Saves/
games/
journal/
lc/
octave-core
opt/
.fgfs
.gens
.gimp*
.gtk*
.gnome*
.irb*
.iced*
.irssi
.lincity*
.link*
.naev
.netx
.octave*
.quake*
.redcar
.speech*
.warsow*
.wine*
.zsnes
Calibre*
.gelide
.htop*
.PyCharm*
.bluetil*
.eric4*
.gitk*
.hplip
.java
.less*
.libreoff*
.moc//
.mysql_history
.odbc.ini
.printer*
.redebug*
.rpdb2*
Aptana*
Mumble*
aptana/
do_tags
firefox/
starwars.wtf
.appdata/
Ubuntu\ One/
HoN
.slime*
*.elc
.lein/
.m2
.dmenu_cache
.ratpoison_history
.sqlite_history
*.o
*.hi
*.errors
.mission-control/
.moc/
dotfiles/
.xmonad/xmonad-i386-linux
.compiz*/
bitemyapp/
.pentadactyl/
.xsession-errors
env/
bin/
.crawl/
.dbshell
.elinks/
.emacs.d/swank/
.weechat/
.rvm/
.npm/
.gem/
.ghc/
.dbshell/
.dotcloud/
.gnus
.gvimrc
.cabal/
.cups/
.authinfo
.mongo_log
.dbshell
.DS_Store
.CFUserTextEncoding
.newsrc-dribble
.python-eggs/
.pygr_data*
.scala_history
.sh_history
Applications/
Desktop/
Emu/
Library/
Movies/
Public/
Eclipse/
bin/eclipse
bin/lein
.Trash/
.pentadactyl/
.rvmrc
.mplayer/
.serverauth*
.virtualenvs/
.emacs.d/semanticdb/
.emacs.d/url/
iMacros/
.elinks/
.mutt/
.byobu/
emu/
.java.policy
.java_history
.jline-clojure.main.history
.kde/
.regetronhist
.scummvm/
.scummvmrc
.surf/
.thunderbird/
.w3m/
.wesnoth1.8/
.dgen/
.gvba/
.lostirc/
.neverball/
.numptyphysics/
.xchat2/
.xmonad/xmonad-x86_64-linux
.rediscli_history
.bundler/
.cola
.rnd
.gegl-0.0/
.eclipse/
.vim-fuf-data/
.FBReader/
.vim/bundle/
.vim/bundle/*
.vim/
.stardict/
.anki/
.bash_it/
.bash_profile.bak
.dirs
.jekyllconfig
.leksah
.wingide4/
.xsession-errors.old
.vim/bundle/*
dump/
.xxxterm/
.goutputstream*
News/
.Rprofile
.lighttable/
.mtpaint
.pyxbld/
.racket/
.viminfo*
.wily*
.fonts/
build/
*.rdb
node_modules/
.calc_history
.ivy2/
.sbt/
.ec2.sh
.vim/backups/
.vim/swaps/
.vim/undo/
.conscript/
elpa
.jline*
.nrepl*
repl*
.ido.last~
.freemind/
.node-gyp/
.terminfo/
.zsh_history
.Xmodmap
.go.history
.psql_history
.arcrc
.vimperator/
.face
history
Google\ Drive/
.leksah*
leksah*
.julia_history
.bzr.log
keys.tgz
quicklisp/
stencylworks/
StencylWorks.prefs
pgadmin.log
lib/
.jrebel/
.netrc
.pgpass
.recentf
.heroku/
.emacs.d/el-get
.recently-used
.httpie/
.oh-my-zsh/
.zsh-update
.zshrc.pre-oh-my-zsh
.codeintel/
.secrets
.nvm/
.yeoman/
tmp/
.Rhistory
.rstudio*
.drip/
.bower/
.erlang.cookie
.iclojure*
Language/
.i3/
.wmii/
.icons/
.steam/
.steampath
.steampid
.GrooveWalrus/
.adv/
.bitcoin/
.catnip/
.clojure-control/
.composer/
.meteor/
.meteorite/
.minecraft/
LightTable/
rethinkdb_data/
.hosts
.wireshark/
.addressbook
.activator/
.aspell*
.carton/
.ievms/
.pinerc
.pylint*
.yjp/
VirtualBox*
mail/
.snownews/
.cinnamon/
.dillo/
.e/
GoPanda2/
dead.letter
libpeerconnection.log
sec/
vm/
workspace/
.netsurf/
.opera/
.overtone/
.themes/
.tin/
.visualvm/
.nbprofiler/
.cgobanrc
.apport*
.Idea*
idea/
.repljs*
.GoPanda2/
.netbeans/
.repljs_history
Snapshots/
backup/
games/
.earthquake/
.ocamlinit
.opam/
.twidgerc
nrepl-history
.fltk
.claws-mail/
.opera-next/
.dooble/
.ocp/
books
wifi
.emacs.desktop*
emacs-desktop
.asciinema/
.datomic-free/
.dvdcss/
.lord/
.watsonrc
.Xauthority*
.nix-*
.Kega*
.floorc
.install4j
.project_zomb*
.snes9x/
.virtualenv/
Zomboid/
.clojurepyhist
.emacs.d/floobits-emacs/
floobits/
.nv/
.muttrc
.floo
.paradox*/
.pioneer/
R/
.pass
.guard_history
.gnuplot_history
.pypirc
.openvpn-connect.json
.haste/
.ihaskell/
.vagrant.d/
.codex
.zpretzo/
.mongorc.js
work/
.squirrel-sql/
.zlogin
.newsbeuter/
.cmus/
.olliolli/
.screenlayout/
.cask/
.joe_state
.ghcjs/
.mypaint/
.stackage-update/
Work/
.psql_history-*
.ssr/
.work.sh
Fiddler2/
*.retry
nohup.out
*.ogv
.pgcli.log
.pgclirc
.vault*
.compose-cache/
.nixpkgs/
.xinputrc
.idris/
Screenshots/
gPodder/
tor-browser/
locate.db
.jitsi/
.texmf-var/
.LUFTRAUSERS
.android/
.stackage/
/.gitconfig.local
.stack/
.stack-work/
dist-stack/
.atom/
.gd/
Data/
TAGS
.xinitrc
