*.pyc
*.pyo
*.exe
*.dll
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
.ssh
Downloads
Dropbox
.ICEauthority
.adobe/
.bash_logout
.bashrc
.cache/
.config/
.dbus/
.dmrc
.dropbox-dist/
.dropbox/
.esd_auth
.fontconfig/
.gconf/
.gconfd/
.gitconfig
.gksu.lock
.gnome2/
.gtk-bookmarks
.local/
.macromedia/
.mozilla/
.pki/
.profile
.pulse-cookie
.pulse/
.recently-used.xbel
.ssh/
.sudo_as_admin_successful
.thumbnails/
.xsession-errors
.compiz
.bash_history
.ido.last
.xsession*
.gstreamer-0.10/
.jhistory
.zcompdump
code/
j701-user/
src/
.ipython*
.nvidia-settings-rc
.gnupg/
*.dat
*auto-save-list/
.viminfo
.emacs.d/tramp