"*":
  core:
    disabledPackages: [
      "minimap"
      "emacs-plus"
      "git-diff-details"
      "git-time-machine"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dork-ui"
      "one-dark-syntax"
    ]
  editor:
    invisibles: {}
    softWrap: true
  "exception-reporting":
    userId: "0c2859be-86fc-00f8-5fb3-112e10187f0a"
  minimap: {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  welcome:
    showOnStartup: false
